html {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
}

body {
    padding-top: 2em;
}

h1, h2 {
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #000;
}

footer {
    text-align: center;
    clear: both;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}


#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

